body {
  padding-top: 70px;
}

.jumbotron {
  text-align: center;
}

.jumbotron img {
  padding-bottom: 20px;
}

.form-control {
  min-height: 40px;
}

#startDatePicker {
  margin: auto;
  max-width: 250px;
}

#endDatePicker {
  margin: auto;
  max-width: 250px;
}
