body {
  padding-top: 70px;
}

.jumbotron {
  text-align: center;
}

.jumbotron img {
  padding-bottom: 20px;
}

.form-control {
  min-height: 40px;
}

.date-picker {
  margin: auto;
  max-width: 250px;
}

.end {
  margin-top:50px;
}

